.App {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.Actions {
  padding-top: 20px;

  button {
    margin: 0 auto;
    display: block;
    width: 150px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
}
