.App {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.Actions {
  padding-top: 20px;

  button {
    display: inline-block;
    padding: 5px 20px;
    margin-right: 10px;
  }
}
